     body{
        margin:  0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: black;
        background-position: center;
        background-size: cover;
    }

    #timer {
        font-size: 15vw;
        color: white;
        font-weight: bold;
    }

    .blinkanim{
        animation: blink 700ms infinite;
    }

     @keyframes blink {
         0%{
             opacity: 1;
         }
         50%{
             opacity: 0;
         }
         100%{
             opacity: 1;
         }
     }